<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485604287523-23lvij2o3jhvjcm31sg4q3kk3qrp0j4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485604287523-23lvij2o3jhvjcm31sg4q3kk3qrp0j4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTybAsA5irj8c7wp9r2X7xiy3QDy20kY</string>
	<key>GCM_SENDER_ID</key>
	<string>485604287523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>snakecharmer.binarychaos.us.snakeCharmer</string>
	<key>PROJECT_ID</key>
	<string>snake-charmer-ee6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>snake-charmer-ee6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485604287523:ios:2dab6160ccdebcaadbbd96</string>
	<key>DATABASE_URL</key>
	<string>https://snake-charmer-ee6e4.firebaseio.com</string>
</dict>
</plist>